*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: brown;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    font-weight: 700;
    color: white;
    font-size: 30px;
    font-family: fantasy;
}
.nav__list{
    display: flex;
    gap: 30px;
}
.nav__link{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
.footer{
    text-transform: uppercase;
    display: flex;
    height: 100px;
    background-color: brown;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: white;
}